# Default ignored files
/shelf/
/workspace.xml
windowsenv/
venv/
testvid.mp4

*.pyc
*.pyc
*.pyc
*.pyc
.idea/workspace.xml
.idea/misc.xml
.idea/misc.xml
.idea/Embedded-Smart-Vision-Server.iml
.idea/workspace.xml
.idea/misc.xml
.idea/Embedded-Smart-Vision-Server.iml
*.pyc
.idea/Embedded-Smart-Vision-Server.iml
.idea/misc.xml
.idea/workspace.xml
*.mp4
*.cnt
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/modules.xml
.idea/vcs.xml
