Babel
blinker
certifi
cffi
chardet
click
config
dnspython
email-validator
Flask
Flask-Babel
Flask-Login
Flask-Mail
flask-opencv-streamer
Flask-SocketIO
Flask-SQLAlchemy
Flask-WTF
idna
itsdangerous
Jinja2
jwt
MarkupSafe
numpy
opencv-python
phonenumbers
Pillow
pycparser
PyJWT
python-engineio
python-socketio
pytz
requests
six
socketIO-client
SQLAlchemy
twilio
urllib3
websocket-client
Werkzeug
WTForms
